@use '../util' as *;

html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    @include flex();
    min-height: 100vh;
    background-color: var(--body-background);
    font-family: var(--font-primary);
    padding: rem(30);

    @include breakpoint(medium) {
        padding: 0;
    }
}
