@use '../util' as *;

.card {
    background-color: var(--card-background);
    max-width: rem(320);
    padding: rem(16);
    border-radius: rem(16);

    &__qrcode {
        border-radius: rem(10);
    }

    &__content {
        padding: rem(24) rem(4);

        @include breakpoint-down(small) {
            padding: rem(24) 0;
        }
    }

    &__title {
        font-size: rem(22);
        text-align: center;
        color: var(--title-color);
        margin-bottom: rem(16);

        @include breakpoint-down(small) {
            font-size: rem(16);
        }
    }

    &__description {
        font-size: rem(15);
        text-align: center;
        color: var(--paragraph-color);

        @include breakpoint-down(small) {
            font-size: rem(14);
        }
    }
}
